include layout.pug

block appContent
    style
        include style.css

    script.
        var shown = false
        window.addEventListener('load', () => {
            document.getElementById('moveBtn').addEventListener('click', removeMove)
            document.getElementById('soundBtn').addEventListener('click', removeSound)
            document.getElementById('showBtn').addEventListener('click', removeShow)
        });
        

        function removeMove() {
            if (shown) {
                document.getElementById('move').classList.add('hide')
            } else {
                document.getElementById('move').classList.remove('hide')
                document.getElementById('sound').classList.add('hide')
                document.getElementById('show').classList.add('hide')
            }
            shown = !shown
        }
        function removeSound() {
            if (shown) {
                document.getElementById('sound').classList.add('hide')
            } else {
                document.getElementById('sound').classList.remove('hide')
                document.getElementById('move').classList.add('hide')
                document.getElementById('show').classList.add('hide')
            }
            shown = !shown
        }
        function removeShow() {
            if (shown) {
                document.getElementById('show').classList.add('hide')
            } else {
                document.getElementById('move').classList.add('hide')
                document.getElementById('sound').classList.add('hide')
                document.getElementById('show').classList.remove('hide')
                
            }
            shown = !shown
        }
        
    table.sidebar-nav
        tr
            td.move#moveBtn Mover
        tr
            td.sound#soundBtn Sonido
        tr
            td.show#showBtn Mostrar pantalla

    div
        table#move.move.todo.hide
            tr
                td 
                    h2 #{todo.move[0]}
                td
                    h2 #{todo.move[1]}
            tr
                td 
                    h2 #{todo.move[2]}
                td
                    h2 #{todo.move[3]}
    
    div
        table#sound.sound.todo.hide
            tr
                td 
                    h2 #{todo.sounds[0]}
                td
                    h2 #{todo.sounds[1]}
    
    div
        table#show.show.todo.hide
            tr
                td 
                    h2 #{todo.show[0]}
                td
                    h2 #{todo.show[1]}

    .back Crea tu codigo aqui :)